/*harmony https://colorhunt.co/palette/ccd5aee0e5b6faedcefefae0*/
/*discord https://colorhunt.co/palette/ff8343f1dec6179bae4158a6*/
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sticky Header */
.sticky-header {
    position: sticky;
    top: 0;
    background-color: var(--header-bg);
    padding: 10px;
    color: var(--text-color);
    z-index: 1000;
}

.sticky-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Banner */
.banner {
    padding: 50px;
    background-color: var(--banner-bg);
    color: var(--text-color);
    text-align: center;
}

/* SVG Toggle */
.svg-toggle {
    width: 100px;
    height: 50px;
    cursor: pointer;
}
main .container {
    display: flex;
    flex-direction: row;
    margin: 2em 4em; 
    padding: 1em;
    border-radius: 2em;
}

main .container>*{
    
    border-radius: 2em;
    background-color: var(--content-bg);
    color: var(--text-color);
    flex: 1;
    margin: 2em;

}
.picture-content>img {
    width: 25em;
    height: 25em;
    border-radius: 2em;
    
}
.picture-content {
    padding: 0;
}
.text-content {
    padding: 1em;
}


body.harmony-theme #toggle-bg, 
body.harmony-theme #toggle-bg-banner {
    fill: #4CAF50;
}

/* body.harmony-theme #toggle-handle,
body.harmony-theme #toggle-handle-banner {
    cx: 75;
} */

/* Theme Variables */
:root {
    --header-bg: #C8A1E0;
    --text-color: #674188;
    --primary-bg: #E2BFD9;
    --content-bg: #F7EFE5;
}

body.harmony-theme {
    --header-bg: #C8A1E0;
    --text-color: #4158A6;
    --primary-bg: #E2BFD9;
    --content-bg: #F7EFE5;  
}
